<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>登入測試</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:200px; }
	</style>
</head>
<body style="background-color:rgb(201, 206, 255);">

   <div class="container">
        
            <a href="/login" class="btn btn-default"> 登入</a>
            <a href="/signup" class="btn btn-default">註冊</a>
        </div>
    </div>
</body>
</html>