<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>登入測試</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body style="background-color:rgb(201, 206, 255);">
<div class="container">

	
		<h1> 成功</h1>


		<a href="/logout" class="btn btn-default btn-sm">登出</a>
	</div>

	
			</div>
		</div>

	</div>

</div>
</body>
</html>
